<div ng-controller="sysUserManageCtrl">
    <div ><h4><b>系统管理->用户管理</b></h4></div>

    <div class="container-fluid" style="margin-top: 30px">
        <div class="row form-group">
            <label class="col-lg-1" style="line-height: 34px">用户名:</label>
            <div class="col-lg-2">
                <input type="text" class="form-control"  placeholder="Email">
            </div>
        </div>
        <div class="row form-group">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>
    <div class="table-responsive" style="margin-top: 30px">
        <div class="table">
            <TABLE>
                <THEAD>
                <TR>
                    <TD>
                        This text is in the THEAD.
                    </TD>
                </TR>
                </THEAD>
                <TBODY>
                <TR>
                    <TD>
                        This text is in the TBODY.
                    </TD>
                </TR>
                </TBODY>
                <TFOOT>
                <TR>
                    <TD>
                        This text is in the table footer.
                    </TD>
                </TR>
                </TFOOT>
            </TABLE>
        </div>
    <div>


</div>




