<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>
    <!--用来配合通用Mapper-->
    <properties resource="jdbc.properties" />
    <!-- 数据库驱动包位置 -->
    <classPathEntry
            location="${jdbc.driverPath}" />

    <context id="Mysql" targetRuntime="MyBatis3Simple" defaultModelType="flat">
        <!-- TKmybatis配置 -->
        <property name="javaFileEncoding" value="UTF-8"/>
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>
        <plugin type="tk.mybatis.mapper.generator.MapperPlugin">
            <property name="mappers" value="tk.mybatis.mapper.common.Mapper"/>
        </plugin>

        <commentGenerator>
            <!-- 是否去除自动生成的注释 true：是 ： false:否 -->
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>
        <!-- 数据库链接URL、用户名、密码 -->
        <jdbcConnection driverClass="${jdbc.driverClassName}"
                        connectionURL="${jdbc.url}" userId="${jdbc.username}" password="${jdbc.password}" />
        <!-- 生成模型的包名和位置 -->
        <javaModelGenerator targetPackage="${targetEntityPackage}" targetProject="${targetJavaProject}" />
        <!-- 生成的映射文件包名和位置 -->
        <sqlMapGenerator targetPackage="${targetMapperPackage}" targetProject="${targetJavaProject}" />
        <!-- 生成service的包名和位置 -->
        <javaClientGenerator targetPackage="${targetMapperPackage}" targetProject="${targetJavaProject}" type="XMLMAPPER" />
        <!-- 要生成的那些表 -->
        <table tableName="extend_user_key" domainObjectName="UserKey" >
            <generatedKey column="c_id" sqlStatement="Mysql" identity="true"/>
            <columnRenamingRule searchString="^vc|^dt|^c" replaceString=""/>
        </table>
    </context>
</generatorConfiguration>